.center.hero-unit
    %h1 Welcome to Jtrade
    %h2
    This is the main page of the wonderful app<br>
    = link_to "Sign up now!", new_user_registration_path, |
      class: "btn btn-large btn-primary"   |