%li
  = link_to item.name, item

  - if current_user == item.user 
    | #{link_to "delete", item_path(item,page: params[:page]), method: :delete, data: { confirm: "You sure?" }} 
    | #{link_to "edit",edit_item_path(item)}